<%= form_for(profesion) do |f| %>
  <% if profesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profesion.errors.count, "error") %> prohibited this profesion from being saved:</h2>

      <ul>
      <% profesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %>
    <%= f.text_field :references %>
  </div>

  <div class="field">
    <%= f.label :profesion %>
    <%= f.text_field :profesion %>
  </div>

  <div class="field">
    <%= f.label :universidad %>
    <%= f.text_field :universidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
