<div class="diente">
    <%= image_tag "diente55.jpg", class:"pieza", id:"55"%>
    <%= image_tag "diente54.jpg", class:"pieza", id:"54"%>
    <%= image_tag "diente53.jpg", class:"pieza", id:"53"%>
    <%= image_tag "diente52.jpg", class:"pieza", id:"52"%>
    <%= image_tag "diente51.jpg", class:"pieza", id:"51"%>
    <%= image_tag "diente61.jpg", class:"pieza", id:"61"%>
    <%= image_tag "diente62.jpg", class:"pieza", id:"62"%>
    <%= image_tag "diente63.jpg", class:"pieza", id:"63"%>
    <%= image_tag "diente64.jpg", class:"pieza", id:"64"%>
    <%= image_tag "diente65.jpg", class:"pieza", id:"65"%>
</div>
<div class="diente">
    <%= image_tag "diente85.jpg", class:"pieza", id:"85"%>
    <%= image_tag "diente84.jpg", class:"pieza", id:"84"%>
    <%= image_tag "diente83.jpg", class:"pieza", id:"83"%>
    <%= image_tag "diente82.jpg", class:"pieza", id:"82"%>
    <%= image_tag "diente81.jpg", class:"pieza", id:"81"%>
    <%= image_tag "diente71.jpg", class:"pieza", id:"71"%>
    <%= image_tag "diente72.jpg", class:"pieza", id:"72"%>
    <%= image_tag "diente73.jpg", class:"pieza", id:"73"%>
    <%= image_tag "diente74.jpg", class:"pieza", id:"74"%>
    <%= image_tag "diente75.jpg", class:"pieza", id:"75"%>
</div>
<div class="diente">
  <%= image_tag "diente18.jpg", class:"pieza", id:"18"%>
  <%= image_tag "diente17.jpg", class:"pieza", id:"17"%>
  <%= image_tag "diente16.jpg", class:"pieza", id:"16"%>
  <%= image_tag "diente15.jpg", class:"pieza", id:"15"%>
  <%= image_tag "diente14.jpg", class:"pieza", id:"14"%>
  <%= image_tag "diente13.jpg", class:"pieza", id:"13"%>
  <%= image_tag "diente12.jpg", class:"pieza", id:"12"%>
  <%= image_tag "diente11.jpg", class:"pieza", id:"11"%>
  <%= image_tag "diente21.jpg", class:"pieza", id:"21"%>
  <%= image_tag "diente22.jpg", class:"pieza", id:"22"%>
  <%= image_tag "diente23.jpg", class:"pieza", id:"23"%>
  <%= image_tag "diente24.jpg", class:"pieza", id:"24"%>
  <%= image_tag "diente25.jpg", class:"pieza", id:"25"%>
  <%= image_tag "diente26.jpg", class:"pieza", id:"26"%>
  <%= image_tag "diente27.jpg", class:"pieza", id:"27"%>
  <%= image_tag "diente28.jpg", class:"pieza", id:"28"%>
</div>
<div class="diente">
  <%= image_tag "diente48.jpg", class:"pieza", id:"48"%>
  <%= image_tag "diente47.jpg", class:"pieza", id:"47"%>
  <%= image_tag "diente46.jpg", class:"pieza", id:"46"%>
  <%= image_tag "diente45.jpg", class:"pieza", id:"45"%>
  <%= image_tag "diente44.jpg", class:"pieza", id:"44"%>
  <%= image_tag "diente43.jpg", class:"pieza", id:"43"%>
  <%= image_tag "diente42.jpg", class:"pieza", id:"42"%>
  <%= image_tag "diente41.jpg", class:"pieza", id:"41"%>
  <%= image_tag "diente31.jpg", class:"pieza", id:"31"%>
  <%= image_tag "diente32.jpg", class:"pieza", id:"32"%>
  <%= image_tag "diente33.jpg", class:"pieza", id:"33"%>
  <%= image_tag "diente34.jpg", class:"pieza", id:"34"%>
  <%= image_tag "diente35.jpg", class:"pieza", id:"35"%>
  <%= image_tag "diente36.jpg", class:"pieza", id:"36"%>
  <%= image_tag "diente37.jpg", class:"pieza", id:"37"%>
  <%= image_tag "diente38.jpg", class:"pieza", id:"38"%>
</div>
