<div class="diente">
    <%= image_tag "diente55.jpg", class:"pieza", id:"55"%>
    <%= image_tag "Sdiente55.jpg", class:"Spieza", id:"55"%>
    <%= image_tag "diente54.jpg", class:"pieza", id:"54"%>
    <%= image_tag "Sdiente54.jpg", class:"Spieza", id:"54"%>
    <%= image_tag "diente53.jpg", class:"pieza", id:"53"%>
    <%= image_tag "Sdiente53.jpg", class:"Spieza", id:"53"%>
    <%= image_tag "diente52.jpg", class:"pieza", id:"52"%>
    <%= image_tag "Sdiente52.jpg", class:"Spieza", id:"52"%>
    <%= image_tag "diente51.jpg", class:"pieza", id:"62"%>
    <%= image_tag "Sdiente51.jpg", class:"Spieza", id:"51"%>
    <%= image_tag "diente61.jpg", class:"pieza", id:"61"%>
    <%= image_tag "Sdiente61.jpg", class:"Spieza", id:"61"%>
    <%= image_tag "diente62.jpg", class:"pieza", id:"62"%>
    <%= image_tag "Sdiente62.jpg", class:"Spieza", id:"62"%>
    <%= image_tag "diente63.jpg", class:"pieza", id:"63"%>
    <%= image_tag "Sdiente63.jpg", class:"Spieza", id:"63"%>
    <%= image_tag "diente64.jpg", class:"pieza", id:"64"%>
    <%= image_tag "Sdiente64.jpg", class:"Spieza", id:"64"%>
    <%= image_tag "diente65.jpg", class:"pieza", id:"65"%>
    <%= image_tag "Sdiente65.jpg", class:"Spieza", id:"65"%>
</div>
<div class="diente">
    <%= image_tag "diente85.jpg", class:"pieza", id:"85"%>
    <%= image_tag "Sdiente85.jpg", class:"Spieza", id:"85"%>
    <%= image_tag "diente84.jpg", class:"pieza", id:"84"%>
    <%= image_tag "Sdiente84.jpg", class:"Spieza", id:"84"%>
    <%= image_tag "diente83.jpg", class:"pieza", id:"83"%>
    <%= image_tag "Sdiente83.jpg", class:"Spieza", id:"83"%>
    <%= image_tag "diente82.jpg", class:"pieza", id:"82"%>
    <%= image_tag "Sdiente82.jpg", class:"Spieza", id:"82"%>
    <%= image_tag "diente81.jpg", class:"pieza", id:"81"%>
    <%= image_tag "Sdiente81.jpg", class:"Spieza", id:"81"%>
    <%= image_tag "diente71.jpg", class:"pieza", id:"71"%>
    <%= image_tag "Sdiente71.jpg", class:"Spieza", id:"71"%>
    <%= image_tag "diente72.jpg", class:"pieza", id:"72"%>
    <%= image_tag "Sdiente72.jpg", class:"Spieza", id:"72"%>
    <%= image_tag "diente73.jpg", class:"pieza", id:"73"%>
    <%= image_tag "Sdiente73.jpg", class:"Spieza", id:"73"%>
    <%= image_tag "diente74.jpg", class:"pieza", id:"74"%>
    <%= image_tag "Sdiente74.jpg", class:"Spieza", id:"74"%>
    <%= image_tag "diente75.jpg", class:"pieza", id:"75"%>
    <%= image_tag "Sdiente75.jpg", class:"Spieza", id:"75"%>
</div>
<div class="diente">
  <%= image_tag "diente18.jpg", class:"pieza", id:"18"%>
  <%= image_tag "Sdiente18.jpg", class:"Spieza", id:"18"%>
  <%= image_tag "diente17.jpg", class:"pieza", id:"17"%>
  <%= image_tag "Sdiente17.jpg", class:"Spieza", id:"17"%>
  <%= image_tag "diente16.jpg", class:"pieza", id:"16"%>
  <%= image_tag "Sdiente16.jpg", class:"Spieza", id:"16"%>
  <%= image_tag "diente15.jpg", class:"pieza", id:"15"%>
  <%= image_tag "Sdiente15.jpg", class:"Spieza", id:"15"%>
  <%= image_tag "diente14.jpg", class:"pieza", id:"14"%>
  <%= image_tag "Sdiente14.jpg", class:"Spieza", id:"14"%>
  <%= image_tag "diente13.jpg", class:"pieza", id:"13"%>
  <%= image_tag "Sdiente13.jpg", class:"Spieza", id:"13"%>
  <%= image_tag "diente12.jpg", class:"pieza", id:"12"%>
  <%= image_tag "Sdiente12.jpg", class:"Spieza", id:"12"%>
  <%= image_tag "diente11.jpg", class:"pieza", id:"11"%>
  <%= image_tag "Sdiente11.jpg", class:"Spieza", id:"11"%>
  <%= image_tag "diente21.jpg", class:"pieza", id:"21"%>
  <%= image_tag "Sdiente21.jpg", class:"Spieza", id:"21"%>
  <%= image_tag "diente22.jpg", class:"pieza", id:"22"%>
  <%= image_tag "Sdiente22.jpg", class:"Spieza", id:"22"%>
  <%= image_tag "diente23.jpg", class:"pieza", id:"23"%>
  <%= image_tag "Sdiente23.jpg", class:"Spieza", id:"23"%>
  <%= image_tag "diente24.jpg", class:"pieza", id:"24"%>
  <%= image_tag "Sdiente24.jpg", class:"Spieza", id:"24"%>
  <%= image_tag "diente25.jpg", class:"pieza", id:"25"%>
  <%= image_tag "Sdiente25.jpg", class:"Spieza", id:"25"%>
  <%= image_tag "diente26.jpg", class:"pieza", id:"26"%>
  <%= image_tag "Sdiente26.jpg", class:"Spieza", id:"26"%>
  <%= image_tag "diente27.jpg", class:"pieza", id:"27"%>
  <%= image_tag "Sdiente27.jpg", class:"Spieza", id:"27"%>
  <%= image_tag "diente28.jpg", class:"pieza", id:"28"%>
  <%= image_tag "Sdiente28.jpg", class:"Spieza", id:"28"%>
</div>
<div class="diente">
  <%= image_tag "diente48.jpg", class:"pieza", id:"48"%>
  <%= image_tag "Sdiente48.jpg", class:"Spieza", id:"48"%>
  <%= image_tag "diente47.jpg", class:"pieza", id:"47"%>
  <%= image_tag "Sdiente47.jpg", class:"Spieza", id:"47"%>
  <%= image_tag "diente46.jpg", class:"pieza", id:"46"%>
  <%= image_tag "Sdiente46.jpg", class:"Spieza", id:"46"%>
  <%= image_tag "diente45.jpg", class:"pieza", id:"45"%>
  <%= image_tag "Sdiente45.jpg", class:"Spieza", id:"45"%>
  <%= image_tag "diente44.jpg", class:"pieza", id:"44"%>
  <%= image_tag "Sdiente44.jpg", class:"Spieza", id:"44"%>
  <%= image_tag "diente43.jpg", class:"pieza", id:"43"%>
  <%= image_tag "Sdiente43.jpg", class:"Spieza", id:"43"%>
  <%= image_tag "diente42.jpg", class:"pieza", id:"42"%>
  <%= image_tag "Sdiente42.jpg", class:"Spieza", id:"42"%>
  <%= image_tag "diente41.jpg", class:"pieza", id:"41"%>
  <%= image_tag "Sdiente41.jpg", class:"Spieza", id:"41"%>
  <%= image_tag "diente31.jpg", class:"pieza", id:"31"%>
  <%= image_tag "Sdiente31.jpg", class:"Spieza", id:"31"%>
  <%= image_tag "diente32.jpg", class:"pieza", id:"32"%>
  <%= image_tag "Sdiente32.jpg", class:"Spieza", id:"32"%>
  <%= image_tag "diente33.jpg", class:"pieza", id:"33"%>
  <%= image_tag "Sdiente33.jpg", class:"Spieza", id:"33"%>
  <%= image_tag "diente34.jpg", class:"pieza", id:"34"%>
  <%= image_tag "Sdiente34.jpg", class:"Spieza", id:"34"%>
  <%= image_tag "diente35.jpg", class:"pieza", id:"35"%>
  <%= image_tag "Sdiente35.jpg", class:"Spieza", id:"35"%>
  <%= image_tag "diente36.jpg", class:"pieza", id:"36"%>
  <%= image_tag "Sdiente36.jpg", class:"Spieza", id:"36"%>
  <%= image_tag "diente37.jpg", class:"pieza", id:"37"%>
  <%= image_tag "Sdiente37.jpg", class:"Spieza", id:"37"%>
  <%= image_tag "diente38.jpg", class:"pieza", id:"38"%>
  <%= image_tag "Sdiente38.jpg", class:"Spieza", id:"38"%>
</div>
