<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Listado de Agendas</font>
  </a>

<tr>
  <td align= center>Fecha</td>
  <td align= center>Hora</td>
  <td align= center>Paciente</td>
  <td align= center>Doctor</td>
  <td align= center>Tratamiento</td>
</tr>

    <% @agendas.each do |a| %>
        <tr>
          <td align= center><%= a.fecha %></td>
          <td align= center><%= Hora.select('bloque AS field_one').find(a.hora_id).field_one%></td>
          <td align= center><%= Paciente.select('rut AS field_one').find(a.paciente_id).field_one%></td>
          <td align= center><%= Usuario.select('rut AS field_one').find(a.usuario_id).field_one%></td>
          <td align= center><%= Tratamiento.select('nombre AS field_one').find(a.tratamiento_id).field_one%></td>
          <td><%= button_to  a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %></td>

        </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @agendas %>
