<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Listado de Agendas</font>
  </a>

<tr>
  <td align= center>Fecha</td>
  <td align= center>Hora</td>
  <td align= center>Paciente</td>
  <td align= center>Doctor</td>
  <td align= center>Tratamiento</td>
</tr>

    <% @agendas.each do |a| %>
        <tr>
          <td align= center><%= a.fecha %></td>
          <td align= center><%= a.hora.bloque%></td>
          <td align= center><%= a.paciente.nombre << " " << a.paciente.paterno%></td>
          <td align= center><%= a.usuario.nombre << " " << a.usuario.ape_paterno %></td>
          <td align= center><%= a.tratamiento.nombre%></td>
          <td><%= button_to  a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %></td>

        </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @agendas %>
