HOLA

agenda
  fecha
  hora

agenda tiene muchos insumos

insumo
  nombre
  cantidad

insumo pertenece a muchas agendas

HasInsumo
  agenda
  insumo


***Relacionar las agendas con los insumo
<%= form_for(@agenda, :url => {:action => 'update_registro_insumos'}, :html => {:role => 'form', class:'form-horizontal form1'}) do |f| %>
<div class="field">
  <%= f.collection_select :agenda, :id, Agenda.all, :id, :fecha, {include_blank: 'Por favor selecciona una agenda'}, {class: 'form-control'}%>
</div>
<div class="field">
<label>Insumos </label>
 <% @insumos.each do |a| %>
 <div class="field">
   <%= check_box_tag "insumos[]", a.id%> <%= a.nombre%>
 </div>
 <%end%>
 <%= f.button_to "Aceptar"%>
</div>
<% end %>
