<script>
  $(document).on("ready", function(){
    $('.pieza').on("click", function(){
      var id = $(this).attr("id");
      if($.data(this,"seleccionado")== "no"){
        $(this).attr("src", "/assets/diente"+id+".jpg");
        $.data(this,"seleccionado","si");
      }else{
        $(this).attr("src", "/assets/"+"S"+"diente"+id+".jpg");
        $.data(this,"seleccionado","no");
      }
    })
  })
</script>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td colspan="4" class="text-center">Ficha Medica</td>
      </tr>
      <tr>
        <th>Nombre:</th>
        <td><%= @agenda.paciente.nombre + " " + @agenda.paciente.paterno + " " + @agenda.paciente.materna %></td>
        <th>Rut:</th>
        <td><%= @agenda.paciente.rut %></td>
      </tr>
    </thead>
    <tr>
      <th>Edad:</th>
      <td><%= @agenda.paciente.edad %></td>
      <th>Sexo:</th>
      <td><%= @agenda.paciente.sexo %></td>
    </tr>
  </table>
<%= render 'piezas'%>
<%= form_for(@agenda, :url => {:action => 'update_registro'}, :html => {:role => 'form', class:'form-horizontal'}) do |f| %>
    <div class="col-md-6 col-md-offset-2">
      <div><strong>Fecha:</strong> <%= @agenda.fecha %></div>
      <div><strong>Hora:</strong> <%= @agenda.hora.bloque %></div>
      <div><strong>Tratamiento:</strong> <%= @agenda.tratamiento.nombre %></div>
      <div class="form-group<%= @agenda.errors[:costo].any? ? " has-error" : "" %>">
        <%= f.label :Descripción, class:'col-sm-3 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :comentario , :cols => 70, :rows => 10%>
        <span class="help-inline">
         <%= @agenda.errors[:costo].any? ? @agenda.errors[:costo].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>

      <div class="form-group text-center">
      <% if @agenda.errors.any? %>
          <%= pluralize(@agenda.errors.count, "error") %>
      <% end %>
    </div>
      <div class="col-sm-2 col-sm-offset-5">
        <%= f.submit :Registar, class:'btn btn-primary' %>
      </div>
    </div>

<% end %>
