<%= javascript_include_tag "dienteJQuery", "data-turbolinks-track" => true  %>
<%= content_tag "div", "",id: "contenidoOculto", data: {dientes: @agenda} %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td colspan="4" class="text-center">Ficha Medica</td>
      </tr>
      <tr>
        <th>Nombre:</th>
        <td><%= @agenda.paciente.nombre + " " + @agenda.paciente.paterno + " " + @agenda.paciente.materna %></td>
        <th>Rut:</th>
        <td><%= @agenda.paciente.rut %></td>
      </tr>
    </thead>
    <tr>
      <th>Edad:</th>
      <td><%= @agenda.paciente.edad %></td>
      <th>Sexo:</th>
      <td><%= @agenda.paciente.sexo %></td>
    </tr>
  </table>
<%= render 'piezas'%>
<%= form_for(@agenda, :url => {:action => 'update_registro'}, :html => {:role => 'form', class:'form-horizontal form1'}) do |f| %>
  <div>
    <%= f.hidden_field 'd55' %>
    <%= f.hidden_field 'd54' %>
    <%= f.hidden_field 'd53' %>
    <%= f.hidden_field 'd52' %>
    <%= f.hidden_field 'd51' %>
    <%= f.hidden_field 'd61' %>
    <%= f.hidden_field 'd62' %>
    <%= f.hidden_field 'd63' %>
    <%= f.hidden_field 'd64' %>
    <%= f.hidden_field 'd65' %>
    <%= f.hidden_field 'd85' %>
    <%= f.hidden_field 'd84' %>
    <%= f.hidden_field 'd83' %>
    <%= f.hidden_field 'd82' %>
    <%= f.hidden_field 'd81' %>
    <%= f.hidden_field 'd71' %>
    <%= f.hidden_field 'd72' %>
    <%= f.hidden_field 'd73' %>
    <%= f.hidden_field 'd74' %>
    <%= f.hidden_field 'd75' %>
    <%= f.hidden_field 'd18' %>
    <%= f.hidden_field 'd17' %>
    <%= f.hidden_field 'd16' %>
    <%= f.hidden_field 'd15' %>
    <%= f.hidden_field 'd14' %>
    <%= f.hidden_field 'd13' %>
    <%= f.hidden_field 'd12' %>
    <%= f.hidden_field 'd11' %>
    <%= f.hidden_field 'd21' %>
    <%= f.hidden_field 'd22' %>
    <%= f.hidden_field 'd23' %>
    <%= f.hidden_field 'd24' %>
    <%= f.hidden_field 'd25' %>
    <%= f.hidden_field 'd26' %>
    <%= f.hidden_field 'd27' %>
    <%= f.hidden_field 'd28' %>
    <%= f.hidden_field 'd38' %>
    <%= f.hidden_field 'd37' %>
    <%= f.hidden_field 'd36' %>
    <%= f.hidden_field 'd35' %>
    <%= f.hidden_field 'd34' %>
    <%= f.hidden_field 'd33' %>
    <%= f.hidden_field 'd32' %>
    <%= f.hidden_field 'd31' %>
    <%= f.hidden_field 'd41' %>
    <%= f.hidden_field 'd42' %>
    <%= f.hidden_field 'd43' %>
    <%= f.hidden_field 'd44' %>
    <%= f.hidden_field 'd45' %>
    <%= f.hidden_field 'd46' %>
    <%= f.hidden_field 'd47' %>
    <%= f.hidden_field 'd48' %>
  </div>
    <div class="col-md-6 col-md-offset-2">
      <div><strong>Fecha:</strong> <%= @agenda.fecha %></div>
      <div><strong>Hora:</strong> <%= @agenda.hora.bloque %></div>
      <div><strong>Tratamiento:</strong> <%= @agenda.tratamiento.nombre %></div>
      <div class="form-group<%= @agenda.errors[:costo].any? ? " has-error" : "" %>">
        <%= f.label :Descripción, class:'col-sm-3 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :comentario , :cols => 70, :rows => 10%>
        <span class="help-inline">
         <%= @agenda.errors[:costo].any? ? @agenda.errors[:costo].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>

      <div class="form-group text-center">
      <% if @agenda.errors.any? %>
          <%= pluralize(@agenda.errors.count, "error") %>
      <% end %>
    </div>
      <div class="col-sm-2 col-sm-offset-5">
        <%= f.submit :Registar, class:'btn btn-primary' %>
      </div>
    </div>

<% end %>
