  <%= form_for(@usuario, :html => {:role => 'form', class:'form-horizontal'}) do |f| %>
  <link href="jquery.multiselect.css" rel="stylesheet" type="text/css">
  <script src="jquery.min.js"></script>
  <script src="jquery.multiselect.js"></script>
      <div class="col-md-7 col-md-offset-2">
        <div class="form-group<%= @usuario.errors[:alias].any? ? " has-error" : "" %>">
          <%= f.label :Alias , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :alias , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:alias].any? ? @usuario.errors[:alias].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:nombre].any? ? " has-error" : "" %>">
          <%= f.label :nombre , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :nombre , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:nombre].any? ? @usuario.errors[:nombre].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:ape_paterno].any? ? " has-error" : "" %>">
          <%= f.label 'Apellido paterno' , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :ape_paterno , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:ape_paterno].any? ? @usuario.errors[:ape_paterno].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:ape_materno].any? ? " has-error" : "" %>">
          <%= f.label 'Apellido materno' , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :ape_materno , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:ape_materno].any? ? @usuario.errors[:ape_materno].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:rut].any? ? " has-error" : "" %>">
          <%= f.label :rut, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :rut , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:rut].any? ? @usuario.errors[:rut].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:correo].any? ? " has-error" : "" %>">
          <%= f.label :correo, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :correo , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:correo].any? ? @usuario.errors[:correo].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <% if boton == "Nuevo" %>
        <div class="form-group<%= @usuario.errors[:password].any? ? " has-error" : "" %>">
          <%= f.label :Contraseña, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:password].any? ? @usuario.errors[:password].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:password_confirmation].any? ? " has-error" : "" %>">
          <%= f.label :'Confirmar' , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation , class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:password_confirmation].any? ? @usuario.errors[:password_confirmation].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <% end %>
        <div class="form-group<%= @usuario.errors[:telefono].any? ? " has-error" : "" %>">
          <%= f.label :telefono, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :telefono, class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:telefono].any? ? @usuario.errors[:telefono].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:cargo].any? ? " has-error" : "" %>">
          <%= f.label :cargo, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :cargo, class:'form-control'%>
          <span class="help-inline">
           <%= @usuario.errors[:cargo].any? ? @usuario.errors[:cargo].to_s[/\w([^"]*)/] : "" %></span>
        </div>
      </div>
      <div class="form-group<%= @usuario.errors[:fecha_ingreso].any? ? " has-error" : "" %>">
        <%= f.label :fecha_ingreso, class:'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.date_field :fecha_ingreso , class:'form-control'%>
        <span class="help-inline">
         <%= @usuario.errors[:fecha_ingreso].any? ? @usuario.errors[:fecha_ingreso].to_s[/\w([^"]*)/] : "" %></span>
      </div>
    </div>
      <div class="form-group<%= @usuario.errors[:hora_entrada].any? ? " has-error" : "" %>">
        <%= f.label :Horario_Entrada, class:'col-sm-2 control-label' %>
      <div class="col-sm-5">
        <%= f.time_field :hora_entrada, class: 'form-control'%>
        <%= @usuario.errors[:hora_entrada].any? ? @usuario.errors[:hora_entrada].to_s[/\w([^"]*)/] : "" %></span>
      </div>
    </div>
    <div class="form-group<%= @usuario.errors[:hora_salida].any? ? " has-error" : "" %>">
      <%= f.label :Horario_Salida, class:'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.time_field :hora_salida, class: 'form-control'%>
       <%= @usuario.errors[:hora_salida].any? ? @usuario.errors[:hora_salida].to_s[/\w([^"]*)/] : "" %></span>
    </div>
        </div>
        <div class="form-group<%= @usuario.errors[:grado_id].any? ? " has-error" : "" %>">
            <%= f.label :Permiso, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.collection_select :grado_id, Grado.all, :id, :rol, {include_blank: 'Por favor selecciona un rol'}, {class: 'form-control'}%>
          <span class="help-inline">
           <%= @usuario.errors[:grado_id].any? ? @usuario.errors[:grado_id].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @usuario.errors[:tipo].any? ? " has-error" : "" %>">
          <%= f.label :tipo, class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.radio_button :tipo, 'Medico', :checked => true%> Medico
          <%= f.radio_button :tipo, 'Tecnico' %> Tecnico
          <%= f.radio_button :tipo, 'Otros' %> Otros
          <span class="help-inline">
           <%= @usuario.errors[:tipo].any? ? @usuario.errors[:tipo].to_s[/\w([^"]*)/] : "" %></span>
         </div>
         </div>
        <div class="form-group<%= @usuario.errors[:especialista_id].any? ? " has-error" : "" %>">
        <%= f.label :Especialidades , class:'col-sm-4 control-label' %>
      <div class="col-sm-10">
      </h1>(Oprima el boton ctrl mientras seleccina sus opciones)</h1>
      <div class="col-sm-12">
        </div>
        </div>
        <%= f.collection_select :especialista_id, Especialista.all, :id, :especialidad, {include_blank: 'Por favor selecciona una especialidad'}, {multiple: true, class: 'form-control'}%>
        <span class="help-inline">
          <%= @usuario.errors[:especialista_id].any? ? @usuario.errors[:especialista_id].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
        <div class="form-group text-center">
        <% if @usuario.errors.any? %>
            <%= pluralize(@usuario.errors.count, "error") %>
        <% end %>
      </div>
        <div class="form-group">
        <div class="col-sm-2 col-sm-offset-5">
          <%= f.submit boton, class:'btn btn-primary'%>
        </div>
        </div>
  <% end %>
