<!DOCTYPE html>
<html>
  <head>
    <title>Clinica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default  navbar-static-top"  role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CDental</a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/" >Inicio</a></li>
          <li><a href="/pacientes">Pacientes</a></li>
          <li><a href="/agendas">Agendas</a></li>
          <li><a href="/insumos">Insumos</a></li>
          <li><a href="/agentes">Proveedores</a></li>
          <li><a href="/tratamientos">Tratamientos</a></li>
          <li><a href="/usuarios">Personal</a></li>
          <li><a href="/grados">Grados</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.nombre%>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to  editar_usuario_path(current_user.id) do %><span class="glyphicon glyphicon-edit"></span>
              Editar Sesión<% end %></li>
              <li><%= link_to  session_path(current_user.id), method: :delete do %><span class="glyphicon glyphicon-log-in"></span>
              Cerrar Sesión<% end %></li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to new_session_path do %><span class="glyphicon glyphicon-user"></span>
            Iniciar Sesión</li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <% flash.each do |name, msg| %>
    <div class="col-md-12 col-md-offset-0,5">
        <%= content_tag :div, msg, class: "alert alert-info" %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
