<%= form_with(model: agente, local: true) do |form| %>
  <% if agente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agente.errors.count, "error") %> prohibited this agente from being saved:</h2>

      <ul>
      <% agente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, id: :agente_rut %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :agente_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :agente_apellido %>
  </div>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.text_field :empresa, id: :agente_empresa %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :agente_telefono %>
  </div>

  <div class="field">
    <%= form.label :comuna %>
    <%= form.text_field :comuna, id: :agente_comuna %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :agente_direccion %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :agente_correo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
