<p id="notice"><%= notice %></p>

<h1>Agentes</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Empresa</th>
      <th>Telefono</th>
      <th>Comuna</th>
      <th>Direccion</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agentes.each do |agente| %>
      <tr>
        <td><%= agente.rut %></td>
        <td><%= agente.nombre %></td>
        <td><%= agente.apellido %></td>
        <td><%= agente.empresa %></td>
        <td><%= agente.telefono %></td>
        <td><%= agente.comuna %></td>
        <td><%= agente.direccion %></td>
        <td><%= agente.correo %></td>
        <td><%= link_to 'Show', agente %></td>
        <td><%= link_to 'Edit', edit_agente_path(agente) %></td>
        <td><%= link_to 'Destroy', agente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agente', new_agente_path %>
