<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Listado de Tratamientos</font>
  </a>

<tr>
  <td align= center>Nombre Tratamiento </td>


</tr>

    <% @tratamientos.each do |a| %>
        <tr>
          <td align= center><%= a.nombre%></td>
          <td><%= button_to 'Mostrar' , tratamiento_url(a), :class => "btn btn-primary" %></td>
          <td> <%= button_to 'Editar', editar_tratamiento_url(a), :class => "btn btn-primary" %></td>
          <td><%= button_to 'X', a, :class => "btn btn-primary", method: :delete, data: {confirm: 'Desea Continuar'} %></td>

        </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @tratamientos %>
