<br>
<div align= right>

  <%= form_tag(listar_tratamiento_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Nombre Tratamiento" %>
   <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>

  <% end %>
</div><br>
<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Listado de Tratamientos</font>
  </a>

<tr>
  <td align= center>Nombre Tratamiento </td>
  <td align= center>Previson</td>

</tr>

    <% @tratamientos.each do |a| %>
        <tr>
          <td align= center><%= a.nombre%></td>
          <td align= center><%= a.prevision%></td>
          <td><%= button_to 'Mostrar' , tratamiento_url(a), :class => "btn btn-primary" %></td>
          <td> <%= button_to 'Editar', editar_tratamiento_url(a), :class => "btn btn-primary" %></td>
          <td><%= button_to a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %></td>

        </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @tratamientos %>
