<br>
<div align= right>

  <%= form_tag(listar_insumo_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Nombre Insumo" %>
   <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>

  <% end %>
</div><br>

<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Listado de Insumos</font>
  </a>
  <br>

<tr>
  <td align= center>Insumo</td>
  <td align= center>Stock Actual</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
   <% @insumos.each do |a| %>

  <tr>
        <td align= center><%= a.nombre %></td>
        <td align= center><%= a.cantidad%></td>
        <td><%= button_to 'Detalles' ,insumo_url(a), :class => "btn btn-primary" %></td>
        <td> <%= button_to 'Editar', editar_insumo_url(a), :class => "btn btn-primary" %></td>
        <td><%= button_to a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %></td>

      </tr>

  <%end%>
</div>
</table>
