
<table class="table">
<div class="list-group" >
  <a class="list-group-item active" >
    Listado de Insumos
  </a>


   <% @insumos.each do |a| %>

  <tr class="list-group-item">
        <td><%= a.nombre %></td>
        <td><%= a.cantidad%></td>
        <td><%= a.costo %></td>
        <td><%= a.ingreso %></td>
        <td><%= a.vencimiento %></td>
        <td><%= button_to 'Mostrar' ,insumo_url(a), :class => "btn btn-primary" %></td>
        <td> <%= button_to 'Editar', editar_insumo_path(a), :class => "btn btn-warning" %></td>
        <td><%= button_to 'Eliminar', a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} %></td>

      </tr>
  <%end%>
</div>
</table>
<%= paginate @insumos %>
