<table>
   <% @insumos.each do |a| %>
  <%if a.cantidad > 3 %>
  <tr>
        <td align= center><%= a.nombre %></td>
        <td align= center><%= a.cantidad%></td>
        <td><%= button_to 'Detalles' ,insumo_url(a), :class => "btn btn-primary" %></td>
        <td> <%= button_to 'Editar', editar_insumo_url(a), :class => "btn btn-primary" %></td>
        <td><%= button_to a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %></td>

      

  <%end%>
</div>
</table>
