<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @insumo.cantidad %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @insumo.nombre %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @insumo.ingreso %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @insumo.vencimiento %>
</p>

<%= link_to 'Edit', edit_insumo_path(@insumo) %> |
<%= link_to 'Back', insumos_path %>
