
<h1 class="text-center text-muted">Hello bootstrap</h1>
<p id="notice"><%= notice %></p>

<h1>Agendas</h1>

<table>
  <thead>
    <tr>
      <th>Hora</th>
      <th>Estado</th>
      <th>Descripcion</th>
      <th>Confirmacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.hora %></td>
        <td><%= agenda.estado %></td>
        <td><%= agenda.descripcion %></td>
        <td><%= agenda.confirmacion %></td>
        <td><%= link_to 'Show', agenda %></td>
        <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda', new_agenda_path %>
