
  <%= form_for(@paciente, :html => {:role => 'form', class:'form-horizontal'}) do |f| %>
      <% if @paciente.errors.any? %>
          <%= pluralize(@paciente.errors.count, "error") %>
      <% end %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group<%= @paciente.errors[:nombre].any? ? " has-error" : "" %>">
          <%= f.label :nombre, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :nombre, class:'form-control' %>
          <span class="help-inline">
           <%= @paciente.errors[:nombre].any? ? @paciente.errors[:nombre].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:apellidos].any? ? " has-error" : "" %>">
          <%= f.label :apellidos , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :apellidos , class:'form-control'%>
          <span class="help-inline">
           <%= @paciente.errors[:apellidos].any? ? @paciente.errors[:apellidos].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:telefono].any? ? " has-error" : "" %>">
          <%= f.label :telefono, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :telefono, class:'form-control' %>
          <span class="help-inline">
           <%= @paciente.errors[:telefono].any? ? @paciente.errors[:telefono].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:rut].any? ? " has-error" : "" %>">
          <%= f.label :rut, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :rut , class:'form-control'%>
          <span class="help-inline">
           <%= @paciente.errors[:rut].any? ? @paciente.errors[:rut].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:edad].any? ? " has-error" : "" %>">
          <%= f.label :edad , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :edad , class:'form-control'%>
          <span class="help-inline">
           <%= @paciente.errors[:edad].any? ? @paciente.errors[:edad].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:sexo].any? ? " has-error" : "" %>">
          <%= f.label :sexo, class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.select :sexo, options_for_select([["seleccionar", ""], "masculino","femenino"]), :class => 'form-control' %>
          <span class="help-inline">
           <%= @paciente.errors[:sexo].any? ? @paciente.errors[:sexo].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:direccion].any? ? " has-error" : "" %>">
          <%= f.label :direccion, class:'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :direccion, class:'form-control'%>
          <span class="help-inline">
           <%= @paciente.errors[:direccion].any? ? @paciente.errors[:direccion].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="form-group<%= @paciente.errors[:comuna].any? ? " has-error" : "" %>">
          <%= f.label :comuna , class:'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= f.text_field :comuna, class:'form-control' %>
          <span class="help-inline">
           <%= @paciente.errors[:comuna].any? ? @paciente.errors[:comuna].to_s[/\w([^"]*)/] : "" %></span>
        </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.submit boton, class:'btn btn-primary'%>
        </div>
        </div>
  <% end %>
