<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 8 align= center>Información</font>
  </a>

<tr> <td>
  <div class="panel-footer" align= left >Nombre: <%= @paciente.nombre %></div>
  <div class="panel-footer" align= left> Apellido Paterno: <%= @paciente.paterno %><br></div>
  <div class="panel-footer" align= left>Apellido Materno: <%= @paciente.materna %><br></div>
  <div class="panel-footer" align= left>Telefono: <%= @paciente.telefono %><br></div>
  <div class="panel-footer" align= left>Rut: <%= @paciente.rut %><br></div>
  <div class="panel-footer" align= left>Edad: <%= @paciente.edad %><br></div>
  <div class="panel-footer" align= left>Sexo: <%= @paciente.sexo %><br></div>
  <div class="panel-footer" align= left>Direccion: <%= @paciente.direccion %><br></div>
  <div class="panel-footer" align= left>Dirrecion : <%= @paciente.numero %></br></div>
  <div class="panel-footer" align= left>Comuna: <%= @paciente.comuna.nombre %><br></div>
</tr>
</div>
<%= link_to 'volver', volver_paciente_path %>
