<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @profesion.references %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @profesion.profesion %>
</p>

<p>
  <strong>Universidad:</strong>
  <%= @profesion.universidad %>
</p>

<%= link_to 'Edit', edit_profesion_path(@profesion) %> |
<%= link_to 'Back', profesions_path %>
