
<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 8 align= center>Información</font>
  </a>

<tr> <td>
  <div class="panel-footer" align= left >Rol:  <%= @grado.rol %> <br></div>
  <div class="panel-footer" align= left>Vista agenda: <%= @grado.agenda_vista %><br></div>
  <div class="panel-footer" align= left>Vista insumos: <%= @grado.insumo_vista %><br></div>
  <div class="panel-footer" align= left>Vista paciente: <%= @grado.paciente_vista %><br></div>
  <div class="panel-footer" align= left>Vista proveedor: <%= @grado.proveedor_vista %><br></div>
  <div class="panel-footer" align= left>Vista tratamiento: <%= @grado.tratamiento_vista %><br></div>

</tr>
</div>
<%= link_to 'volver', volver_grado_path %>
