<%= form_for(@agente, :html => {:role => 'form', class:'form-horizontal'}) do |f| %>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group<%= @agente.errors[:nombre].any? ? " has-error" : "" %>">
        <%= f.label :Empresa , class:'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= f.text_field :nombre , class:'form-control'%>
        <span class="help-inline">
         <%= @agente.errors[:nombre].any? ? @agente.errors[:nombre].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group<%= @agente.errors[:rut].any? ? " has-error" : "" %>">
        <%= f.label :rut , class:'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= f.text_field :rut , class:'form-control'%>
        <span class="help-inline">
         <%= @agente.errors[:rut].any? ? @agente.errors[:rut].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group<%= @agente.errors[:correo].any? ? " has-error" : "" %>">
        <%= f.label :correo , class:'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= f.text_field :correo, class:'form-control' %>
        <span class="help-inline">
         <%= @agente.errors[:correo].any? ? @agente.errors[:correo].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group<%= @agente.errors[:telefono].any? ? " has-error" : "" %>">
        <%= f.label :telefono , class:'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= f.text_field :telefono, class:'form-control' %>
        <span class="help-inline">
         <%= @agente.errors[:telefono].any? ? @agente.errors[:telefono].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group<%= @agente.errors[:comuna_id].any? ? " has-error" : "" %>">
          <%= f.label :Comuna, class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :comuna_id, Comuna.all, :id, :nombre , {include_blank: 'Por favor selecciona una comuna'}, {class: 'form-control'}%>
        <span class="help-inline">
         <%= @agente.errors[:comuna_id].any? ? @agente.errors[:comuna_id].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group<%= @agente.errors[:dirrecion].any? ? " has-error" : "" %>">
        <%= f.label :direccion , class:'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= f.text_field :dirrecion , class:'form-control'%>
        <span class="help-inline">
         <%= @agente.errors[:dirrecion].any? ? @agente.errors[:dirrecion].to_s[/\w([^"]*)/] : "" %></span>
      </div>
    </div>
      <div class="form-group<%= @agente.errors[:numero].any? ? " has-error" : "" %>">
        <%= f.label :numero, class:'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :numero, class:'form-control'%>
        <span class="help-inline">
         <%= @agente.errors[:numero].any? ? @agente.errors[:numero].to_s[/\w([^"]*)/] : "" %></span>
      </div>
      </div>
      <div class="form-group text-center">
      <% if @agente.errors.any? %>
          <%= pluralize(@agente.errors.count, "error") %>
      <% end %>
    </div>
      <div class="col-sm-2 col-sm-offset-5">
        <%= f.submit boton, class:'btn btn-primary'%>
      </div>
  </div>
<% end %>
