<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @funcionario.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @funcionario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @funcionario.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @funcionario.telefono %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @funcionario.comuna %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @funcionario.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @funcionario.edad %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @funcionario.correo %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @funcionario.profesion %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @funcionario.contraseña %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
